<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <h1> <tbody>
        <tr>
            <td>Success! Welcome, {{ user.user_name }} {{user.last_name}}</td>
        </tr>
    </tbody></h1>
    <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
    </ul>
<a href='/logout_user'>Click here to logout</a>
</body>
</html>